body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 20px;
    color: #333;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#pokemon-container, #search-results, #team-container, #pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    position: relative;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.pokemon-card p {
    font-size: 0.9em;
    margin: 5px 0;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.saved-team {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.add-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #45a049;
}

/* New styles for team page */
#team-section {
    text-align: center;
}

#team-section form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#team-section input[type="text"] {
    margin-right: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#team-search-input {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#team-search-input + button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
}

#team-search-input + button:hover {
    background-color: #45a049;
}

#search-results, #team-container, #saved-teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card .add-to-team-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pokemon-card .add-to-team-button:hover {
    background-color: #45a049;
}

#saved-teams-section {
    text-align: center;
}

